## Librerías

In [24]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Tabla de races

In [25]:
races={"season":[],"round":[],"raceName":[],"circuitId":[],
       "lat":[],"long":[],"country":[],"date":[],"url":[]}

In [26]:
for year in list(range(2010,2023)):
    url="http://ergast.com/api/f1/{}.json"
    response=requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content["MRData"]["RaceTable"]["Races"]:
        races["season"].append(int(item["season"]))
        races["round"].append(int(item["round"]))
        races["raceName"].append(item["raceName"])
        races["circuitId"].append(item["Circuit"]["circuitId"])
        races["lat"].append(item["Circuit"]["Location"]["lat"])
        races["long"].append(item["Circuit"]["Location"]["long"])
        races["country"].append(item["Circuit"]["Location"]["country"])
        races["date"].append(item["date"])
        races["url"].append(item["url"])

In [27]:
pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,Japanese Grand Prix,suzuka,34.8431,136.541,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,United States Grand Prix,americas,30.1328,-97.6411,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,Mexico City Grand Prix,rodriguez,19.4042,-99.0907,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,Brazilian Grand Prix,interlagos,-23.7036,-46.6997,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,Abu Dhabi Grand Prix,yas_marina,24.4672,54.6031,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

## Tabla de resultados

In [24]:
content=json.loads(response.content)

In [25]:
df_results_2022=pd.DataFrame()
for race in list(range(1,23)):
    url="http://ergast.com/api/f1/2022/{}/results.json"
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022=df_results_2022.append(pd.DataFrame(content["MRData"]["RaceTable"]["Races"][0]["Results"]))

In [26]:
df_results_2022["Driver"]=df_results_2022["Driver"].apply(lambda x: x["driverId"]) 
#Obtener los nombres en el diccionario

In [29]:
df_results_2022.groupby(["Constructor"]).agg({"points":"sum"}).sort_values(by="points",ascending=False)
#Obtener los puntos por constructor (paso 3)

              points
Constructor
red_bull         724
ferrari          519
mercedes         495
alpine           170
mclaren          150
aston_martin      55
alfa              53
alphatauri        35
haas              33
williams           8

In [27]:
df_results_2022["points"]=df_results_2022.points.astype(int) #Paso 2

In [28]:
df_results_2022["Constructor"]=df_results_2022["Constructor"].apply(lambda y: y["constructorId"]) #paso 1

In [10]:
df_results_2022.groupby(["Driver"]).agg({"points":"sum"})

                                                    points
Driver
albon                                001020000000010000000
alonso                           2000026621018410800660100
bottas                             80410682060000000000120
de_vries                                                 2
gasly                              04200001000000204100000
hamilton             1511208104121516151819012102101818180
hulkenberg                                              00
kevin_magnussen                    10202000001400000002000
latifi                              0000000000000000020000
leclerc              2619268180120101225088151818151581218
max_verstappen     025026262515252561925252626256252525825
mick_schumacher                     0000000004800000000000
norris                           0610150492086660661218209
ocon                              686046018010426200120446
perez              012181812192519018012101810925181215615
ricciardo                          00800004002200001000602
russell          12101512101510151201215151218150411132610
sainz                1815001512180192501112154121500101512
stroll                              0001100010010010800014
tsunoda                             4006010000000000001000
vettel                                04001802001400484001
zhou                                1000000040000001000000

In [9]:
df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,"{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,"{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,"{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,"{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,"{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,"{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [27]:
df_results_2022.points.values

array(['26', '18', '15', '12', '10', '8', '6', '4', '2', '1', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '25', '19', '15', '12',
       '10', '8', '6', '4', '2', '1', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '26', '18', '15', '12', '10', '8', '6', '4', '2',
       '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '26', '18',
       '15', '12', '10', '8', '6', '4', '2', '1', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '26', '18', '15', '12', '10', '8', '6',
       '4', '2', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '25', '19', '15', '12', '10', '8', '6', '4', '2', '1', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '25', '18', '15', '12',
       '10', '9', '6', '4', '2', '1', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '25', '19', '15', '12', '10', '8', '6', '4', '2',
       '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '25', '19',
       '15', '12', '10', '8', '6', '4', '2', '1', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '25', '18', '16', '12', '10', '8', '6',
       '4', '2', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '25', '19', '15', '12', '10', '8', '6', '4', '2', '1', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '25', '18', '15', '12',
       '11', '8', '6', '4', '2', '1', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '25', '19', '15', '12', '10', '8', '6', '4', '2',
       '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '26', '18',
       '15', '12', '10', '8', '6', '4', '2', '1', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '26', '18', '15', '12', '10', '8', '6',
       '4', '2', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '25', '18', '15', '12', '10', '9', '6', '4', '2', '1', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '25', '18', '15', '12',
       '10', '8', '6', '4', '2', '1', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0', '25', '18', '15', '12', '10', '8', '6', '4', '2',
       '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '25', '18',
       '15', '12', '11', '8', '6', '4', '2', '1', '0', '0', '0', '0', '0',
       '0', '0', '0', '0', '0', '25', '18', '15', '13', '10', '8', '6',
       '4', '2', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
       '26', '18', '15', '12', '10', '8', '6', '4', '2', '1', '0', '0',
       '0', '0', '0', '0', '0', '0', '0', '0', '25', '18', '15', '12',
       '10', '9', '6', '4', '2', '1', '0', '0', '0', '0', '0', '0', '0',
       '0', '0', '0'], dtype=object)

In [11]:
df_results_2022["points"]=df_results_2022.points.astype(int)

In [13]:
#Ordenamos los conductores de acuerdo a los puntos obtenidos
df_results_2022.groupby(["Driver"]).agg({"points":"sum"}).sort_values(by="points",ascending=False)

                 points
Driver
max_verstappen      433
perez               291
leclerc             291
russell             262
hamilton            233
sainz               228
norris              116
ocon                 89
alonso               81
bottas               47
vettel               37
ricciardo            34
gasly                23
kevin_magnussen      21
stroll               18
tsunoda              12
mick_schumacher      12
zhou                  6
albon                 4
latifi                2
de_vries              2
hulkenberg            0

In [44]:
 url="http://ergast.com/api/f1/2012.json"
response=requests.get(url.format(race))   #lista de races para encontrar raceid
content=json.loads(response.content)

In [45]:
pd.DataFrame(content["MRData"]["RaceTable"]["Races"])

,season,round,url,raceName,Circuit,date,time
0,2012,1,http://en.wikipedia.org/wiki/2012_Australian_G...,Australian Grand Prix,"{'circuitId': 'albert_park', 'url': 'http://en...",2012-03-18,06:00:00Z
1,2012,2,http://en.wikipedia.org/wiki/2012_Malaysian_Gr...,Malaysian Grand Prix,"{'circuitId': 'sepang', 'url': 'http://en.wiki...",2012-03-25,08:00:00Z
2,2012,3,http://en.wikipedia.org/wiki/2012_Chinese_Gran...,Chinese Grand Prix,"{'circuitId': 'shanghai', 'url': 'http://en.wi...",2012-04-15,07:00:00Z
3,2012,4,http://en.wikipedia.org/wiki/2012_Bahrain_Gran...,Bahrain Grand Prix,"{'circuitId': 'bahrain', 'url': 'http://en.wik...",2012-04-22,12:00:00Z
4,2012,5,http://en.wikipedia.org/wiki/2012_Spanish_Gran...,Spanish Grand Prix,"{'circuitId': 'catalunya', 'url': 'http://en.w...",2012-05-13,12:00:00Z
5,2012,6,http://en.wikipedia.org/wiki/2012_Monaco_Grand...,Monaco Grand Prix,"{'circuitId': 'monaco', 'url': 'http://en.wiki...",2012-05-27,12:00:00Z
6,2012,7,http://en.wikipedia.org/wiki/2012_Canadian_Gra...,Canadian Grand Prix,"{'circuitId': 'villeneuve', 'url': 'http://en....",2012-06-10,18:00:00Z
7,2012,8,http://en.wikipedia.org/wiki/2012_European_Gra...,European Grand Prix,"{'circuitId': 'valencia', 'url': 'http://en.wi...",2012-06-24,12:00:00Z
8,2012,9,http://en.wikipedia.org/wiki/2012_British_Gran...,British Grand Prix,"{'circuitId': 'silverstone', 'url': 'http://en...",2012-07-08,12:00:00Z
9,2012,10,http://en.wikipedia.org/wiki/2012_German_Grand...,German Grand Prix,"{'circuitId': 'hockenheimring', 'url': 'http:/...",2012-07-22,12:00:00Z
10,2012,11,http://en.wikipedia.org/wiki/2012_Hungarian_Gr...,Hungarian Grand Prix,"{'circuitId': 'hungaroring', 'url': 'http://en...",2012-07-29,12:00:00Z
11,2012,12,http://en.wikipedia.org/wiki/2012_Belgian_Gran...,Belgian Grand Prix,"{'circuitId': 'spa', 'url': 'http://en.wikiped...",2012-09-02,12:00:00Z
12,2012,13,http://en.wikipedia.org/wiki/2012_Italian_Gran...,Italian Grand Prix,"{'circuitId': 'monza', 'url': 'http://en.wikip...",2012-09-09,12:00:00Z
13,2012,14,http://en.wikipedia.org/wiki/2012_Singapore_Gr...,Singapore Grand Prix,"{'circuitId': 'marina_bay', 'url': 'http://en....",2012-09-23,12:00:00Z
14,2012,15,http://en.wikipedia.org/wiki/2012_Japanese_Gra...,Japanese Grand Prix,"{'circuitId': 'suzuka', 'url': 'http://en.wiki...",2012-10-07,06:00:00Z
15,2012,16,http://en.wikipedia.org/wiki/2012_Korean_Grand...,Korean Grand Prix,"{'circuitId': 'yeongam', 'url': 'http://en.wik...",2012-10-14,06:00:00Z
16,2012,17,http://en.wikipedia.org/wiki/2012_Indian_Grand...,Indian Grand Prix,"{'circuitId': 'buddh', 'url': 'http://en.wikip...",2012-10-28,09:30:00Z
17,2012,18,http://en.wikipedia.org/wiki/2012_Abu_Dhabi_Gr...,Abu Dhabi Grand Prix,"{'circuitId': 'yas_marina', 'url': 'http://en....",2012-11-04,13:00:00Z
18,2012,19,http://en.wikipedia.org/wiki/2012_United_State...,United States Grand Prix,"{'circuitId': 'americas', 'url': 'http://en.wi...",2012-11-18,19:00:00Z
19,2012,20,http://en.wikipedia.org/wiki/2012_Brazilian_Gr...,Brazilian Grand Prix,"{'circuitId': 'interlagos', 'url': 'http://en....",2012-11-25,16:00:00Z